<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    
</head>

<body>

    <header>
        <nav class="bg-green-200 font-pop font-semibold">
            <ul class="px-28 py-4 flex space-x-11 justify-end ">
                <li class="hover:text-white"> <a href="/home">Home</a></li>
                <li class="hover:text-white"> <a href="#">About</a></li>
                <li class="hover:text-white"> <a href="#">Services</a></li>
                <li class="hover:text-white"> <a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="bg-green-100  home "id="home">

        <center>
        <div class="bg-gradient-to-l  md:bg-gradient-to-r">
            <img src="./static/img/bgdoctor.png" alt="">
        </div>
        <div class="text-6xl font-pop">Online Medical Consultation</div>

        <div class="my-4 items-center">
            
            <button
                class="font-pop bg-purple-800 px-3 py-2 rounded-2xl text-white hover:text-white hover:bg-fuchsia-700 mx-2">Covid-19</button>
            <button
                class="font-pop bg-purple-800 px-3 py-2 rounded-2xl text-white hover:text-white hover:bg-fuchsia-700 mx-2">General</button>
        </div>
        <p class="py-6 w-2/3">Click on "Covid-19" Button to Consult and full Information related to it. <br> But
            if
            you want to consult for other disease Kindly click on "General" Button</p>
        </center>

    </div>


</body>

</html>